@import "variables"; 


#welcome{
    display: grid; 
    grid-template-columns: 350px 1fr;
    width: 100%; 
    height: 100vh; 

    .welcome-menu{
        background: white; 
        padding: 50px;
        position: relative; 

        .logo{
            display: flex; 
            justify-content: center;
            margin-bottom: 50px; 

            img{
                max-width: 150px;
            }
        }

        .menu{
            margin-bottom: 50px;
            .menu-title{
                text-transform: uppercase; 
                color: $menu-title; 
                font-weight: 700; 
                font-size: 1.2rem; 
                border-bottom: 1px solid $menu-border-bottom; 
                padding-bottom: 20px; 
                margin-bottom: 20px; 
            }

            .links{
                li{
                    a{
                        font-size: 1.1rem;
                        color: black; 
                        font-weight: 700;
                        text-decoration: none;
                        margin-bottom: 1.4rem;
                        display: block;
                        transition: color .3s ease-in-out; 
                        &:hover{
                            color: $menu-item-hover; 
                        }
                    }
                    
                }
            }    
        }

        .social-icons{
            display: flex; 

            a{
                display: flex; 
                justify-content: center; 
                align-items: center; 
                background: $social-background; 
                font-size: .9rem;
                text-decoration: none; 
                color: $social-icons; 
                height: 30px; 
                width: 30px; 
                border-radius: 50%; 
                margin-right: 10px; 
            }
        }

        .location{
            align-self: center;
            position: absolute;
            bottom: 100px;

            .address{
                color: $address-color; 
                margin-bottom: 20px; 
            }

            .phone-number{
                a{
                    color: $menu-title; 
                    font-size: 2rem; 
                    font-weight: 700; 
                    text-decoration: none;
                }
            }
        }
    }    

    .welcome-jumbo{
        background: red;  
    }
}


